<div>
  <strong >Html To PDF in Angular Application</strong>
  </div>
  <div>
  <input type="button" value="Convert" (click)="convetToPDF()"/>
  </div>
  
  <pre>
  <div id="content">
  <div></div>
  </div>
  <div>
  <table id="contentToConvert">
  <tbody>
  <tr>
  <th>Name</th>
  <th>Profession</th>
  <th>District</th>
  </tr>
  <tr>
  <td>Mahbub</td>
  <td>Student</td>
  <td>Dhaka</td>
  </tr>
  <tr>
  <td>Asma</td>
  <td>HouseWife</td>
  <td>Barishal</td>
  </tr>
  <tr>
  <td>Popy</td>
  <td>Roland Mendel</td>
  <td>Faridpur</td>
  </tr>
  <tr>
  <td>Yousuf</td>
  <td>Helen Bennett</td>
  <td>UK</td>
  </tr>
  <tr>
  <td>Arjuman akter</td>
  <td>student</td>
  <td>Canada</td>
  </tr>
  <tr>
  <td>Binte Rahman</td>
  <td>Student</td>
  <td>Italy</td>
  </tr>
  </tbody>
  </table>
  </div>
  </pre>
  